obj_dir/
build/
testFiles/transfuzzTestFiles/
testFiles/verismith/
coverage_reports/

uv.lock

*.swp
*.tmp
*.temp
*.bak
*.dat
*.dmp

!coverage_reports.bak
coverage_reports.bak/yosys/*
coverage_reports.bak/verilator/*
!coverage_reports.bak/yosys/comparison
!coverage_reports.bak/verilator/comparison
