coverage_reports.bak/** linguist-generated
naive/** linguist-generated
valid*/** linguist-generated
monolith/** linguist-generated
testFiles/monolith/** linguist-generated
testFiles/generated/** linguist-generated
testFiles/verismith/** linguist-generated
testFiles/transfuzzTestFiles/** linguist-generated
