obj_dir/
build/
verilator/
testFiles/transfuzzTestFiles/
testFiles/verismith/
coverage_reports/

uv.lock

*.swp
*.tmp
*.temp
*.bak
*.dat

!coverage_reports.bak
coverage_reports.bak/*
!coverage_reports.bak/comparison
